/node_modules
/public/js/app/*.js
/public/css/app/*.css
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.idea/
public/mix-manifest.json
public/js/main/app.js
public/js/app.js
public/css/main.css
public/css/app.css
