.nav {

    &__wrapper {
        padding: $size-3 $size-7;
    }

    &__logo {
        font-size: $size-4;
    }

    &__item {
        font-size: $size-3;
    }

    &__avatar {
        height: 55px;
        margin-left: auto;
        margin-right: $size-6;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }
}
